.card-white {
    background-color: white;
    border: solid;
}

.top-40 {
    position: absolute;
    top: 40%;
}

#map {
    height: 80vh;
}

.mapaMesclar{
    background: white;
}
.mapaMesclar:hover{
    background: lightgreen !important;
}
.mapaSelec{
    background: green !important;
}
.mapaSelec:hover{
    background: green !important;
}