.corpo{
  background-color: white !important;
}

/*Menu Ferramentas*/
a {
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.container {
   margin: 0 auto;
   padding: 20px 50px;
   background: white;
}
#sticky-social {
   left: 0;
   position: fixed;
   top: 150px;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#sticky-social .selecionado span{
  left:100%;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="claro"],
#sticky-social a[class*="claro"]:hover,
#sticky-social a[class*="claro"] span { background: #4388CC; }

#sticky-social a[class*="escuro"],
#sticky-social a[class*="escuro"]:hover,
#sticky-social a[class*="escuro"] span { background: #0f6cc6; }

/*
Mapa
*/

.mapa{
   padding: 0px;
   height: 84vh;
   width: 82vw;
}

/*
  Upload de imagem
*/

.btn-file {
    position: relative !important;
    overflow: hidden !important;
}
#novaImgIcone{
    width: 100%;
    max-height: 150px;
}
#novaImgPonto{
    width: 100%;
    max-height: 150px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.centerDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Icones */

.imagemIcone {
    border: 1px solid black;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    max-width: 15vw;
    max-height: 15vh;
}

.imagemIcone:hover {
    border: 1px solid black;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    background-color: lightgreen;
}

.iconeEscolhido {
    background-color: green !important;
}

.imagemIcone:not(:hidden) + .imagemIcone:not(:hidden) {
    border-left: 0;
}

/*Pesquisa do Places */

#pac-input{
  z-index: 2000;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.pac-container{
  z-index: 2000;
}

.mapaMesclar{
    background: white;
}
.mapaMesclar:hover{
    border: 2px solid lightgreen !important;
}
.mapaMesclar:active{
    border: 2px solid green !important;
}

.modal-map-dialog {
  width: 98%;
  height: 98%;
  padding: 0;
  top: -3%;
}

.modal-map-content {
  height: 99%;
}

.modal-map-body{
  padding: 0px 0px 0px 0px;
}

.mapaExp{
   height: 88vh;
   width: 90vw;
}

