
.box{
  position:fixed;
  top: 85%;
  right: 6%;
  font-size: 2vw;
  border: solid;
  border-radius: 5vh;
  background-color: skyblue;
  display:inline-block;
  cursor:pointer;
  font-family:Impact;
  font-weight:bold;
  padding:1vh 2vw;
  text-decoration:none;
}
body {
  background-color: #4388CC;
}
a:link
{
 text-decoration:none;
}

.button {
  width: 8vw;
  background-color: #4388CC;
  border: 2px solid black;
  color: white;
  font-size: auto;
}

.button:hover {
  color: white;
}

.bpesquisa {
  height: 4vh;
  border: 2px solid black;
}

/*Alinhar placeholders no centro*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
