#logo{
  height: 100%;
  width: 100%;
}

#box{
  position:fixed;
  top: 35%;
  width: 20vw;
  border: solid;
  background-color: white;
}

.button {
  width: 8vw;
  background-color: #4388CC;
  border: 1px solid black;
  color: white;
  font-size: auto;
}

.lema {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1vw;
}

/*Alinhar placeholders no centro*/
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
