body{
  background-color: #4388CC;
}

#logo{
  height: 100%;
  width: 100%;
}

#box{
  position:fixed;
  top: 35%;
  height: 400px; 
  width: 350px;
  border: solid;
  background-color: white;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.lema {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 19px;
}

.button {
  width: 155px;
  background-color: #4388CC;
  border: 1px solid black;
  color: white;
}



