<!DOCTYPE html>
<!--{% load static %}-->
<!--{% static "" as baseUrl %}-->
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <title>MapFindIt</title>
        <link href="{% static "MapFindIt/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "MapFindIt/css/CMVisib.css" %}" rel="stylesheet">
    </head>

    <body style="background-color: #4388CC;">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 top-40 card-white">
                    <form id="formVisib" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <br>
                                <div class="input-group">
                                    <div class="input-group-addon">Lat</div>
                                    <input class="form-control" type="number" step="any" required id="Lat" name="Lat" value="{{Lat}}">
                                </div>
                                <br>
                                <div class="input-group">
                                    <div class="input-group-addon">Lng</div>
                                    <input class="form-control" type="number" step="any" required id="Lng" name="Lng" value="{{Lng}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="radio-inline"><input type="radio" name="opcVisib" id="r1" value="P" onclick="opcContext('Privado');" checked>Privado</label>
                                <label class="radio-inline"><input type="radio" name="opcVisib" id="r2" value="U" onclick="opcContext('Publico');">Público</label>
                                <label class="radio-inline"><input type="radio" name="opcVisib" id="r3" value="A" onclick="opcContext('Amigos');">Apenas amigos</label>
                            </div>
                            <div id="contextual"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Continuar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static "MapFindIt/js/jquery.min.js" %}"></script>
        <script src="{% static "MapFindIt/js/bootstrap.min.js" %}"></script>
        <script src="{% static "MapFindIt/js/CMVisib.js" %}"></script>
    </body>
</html>
