<!DOCTYPE html>
{% load static %}
{% static "" as baseUrl %}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>MapFindIt</title>
		<link href="{% static "MapFindIt/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/cropper.min.css" %}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/font-awesome.min.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/menu.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/geral.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/editar.css"%}" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:skyblue;">
      <div class="container-fluid">
				<div class="navbar-left">
						<a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span id="menu-icon" class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
						<a href="/" style="display:inline-block; margin-left: 30px; z-index:20; height:50px; width:100px;"><img border="0" src="{% static "MapFindIt/img/Logo.jpg" %}" style="width:100px; height:50px"></a>
					</div>
					<div id="navbar" class="nav">
						<form class="navbar-form navbar-right" id="navBarSair">
							<div class="input-group">
								<div class="input-group-btn">
									<a href="/deslogar/" class="btn button">Sair</a>
								</div>
							</div>
						</form>
						<form class="navbar-form navbar-center" id="navBarSearchForm"  method="GET">
							<div class="input-group">
								<input id="pac-input" class="form-control" type="text" placeholder="Procurar Local">
							</div>
						</form>
					</div>
				</div>
		</nav>
			<div id="wrapper" class="toggled corpo">
				<div class="container-fluid">
					<div id="sidebar-wrapper">
						<ul class="sidebar-nav">
							<li class="sidebar-brand">
								<br>
							</li>
							<li class="sidebar-brand">
								<div class="row">
									<div class="col-md-9 col-md-offset-3">
										<a href="/perfil/{{usuario.idusuario}}" class="navbar-brand">
											{% if usuario.foto %}
													<img id="img" class="img-circle img-responsive" style="width:150px; height:150px" src="{{baseUrl}}MapFindIt/ImagemUsers/{{usuario.idusuario}}.png"></img>
											{% else %}
													<img id="img" class="img-circle img-responsive" style="width:150px; height:150px" src="{% static "MapFindIt/img/default_user.png" %}"></img>
											{% endif %}
											<br>
											<label for="img">{{usuario.primnomeusuario}} {{usuario.ultnomeusuario}}</label>
										</a>
									</div>
								</div>
							</li>
							<li>
								<br><br><br><br>
								<div class="row">
									<div class="col-md-11 col-md-offset-1">
										<div class="panel panel-primary">
											<div class="panel-heading" style="padding:0px">
												<b>Meus Grupos</b>
											</div>
											<div class="panel-body" style="padding:2px 0px 0px 0px; padding-bottom:10px">
												{% for grupo in grupos %}
													<div style="height:5vh;">
														<a href="/grupo/{{grupo.idgrupo}}" title="{{grupo.nomegrupo}}">
															<span style="">{{grupo.nomegrupo}}</span>
															<span style="float:right; height:3vh; padding:0px;"><span style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">
																&nbsp;&nbsp;&nbsp;
															</span>&nbsp;&nbsp;</span>
														</a>
													</div>
												{% endfor %}
											</div>
										</div>
										</div>
									</div>
							</li>
							<li>
								<div class="row">
									<div class="col-md-11 col-md-offset-1">
										<div class="panel panel-primary">
											<div class="panel-heading" style="padding:0px">
												<b>Meus Amigos</b>
											</div>
											<div class="panel-body" style="padding:2px 0px 0px 0px">
												<div class="centerDiv">
														<input id="filtrarAmigos" type="text" placeholder="Filtrar amigos" style="width:96%; height:90%;">
												</div>
												<div style="display:flex;flex-direction: row;flex-wrap: wrap; padding:2px 0px 0px 0px">
													{% for amizade in todosAmigos %}
														{% if not amizade.aceita %}
															{% ifequal amizade.idusuario1 usuario %}
																{% with amigo=amizade.idusuario2 %}
																		<div class="amigo">
																			{% if amigo.foto %}
																				<a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" style="width:50px; height:50px" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" src="{{baseUrl}}MapFindIt/ImagemUsers/{{amigo.idusuario}}.png"></img></a>
																			{% else %}
																				<a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" style="width:50px; height:50px" src="{% static "MapFindIt/img/default_user.png" %}"></img></a>
																			{% endif %}
																		</div>
																	{% endwith %}
															{% else %}
																{% with amigo=amizade.idusuario1 %}
																		<div class="amigo">
																			{% if amigo.foto %}
																				<a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" style="width:50px; height:50px" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" src="{{baseUrl}}MapFindIt/ImagemUsers/{{amigo.idusuario}}.png"></img></a>
																			{% else %}
																				<a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" style="width:50px; height:50px" src="{% static "MapFindIt/img/default_user.png" %}"></img></a>
																			{% endif %}
																		</div>
																{% endwith %}
															{% endifequal %}
														{% endif %}
													{% endfor %}
												</div>
										</div>
										</div>
									</div>
							</li>
						</ul>
					</div>
				</div>
			<br><br><br><br>
      <div class="row">
        <div class="col-md-2">
			<aside id="sticky-social">
				<ul>
					<li onclick="selecionar(0);" id="pontoLi"><a href="#" class="claro" id="selecPonto"><span>Ponto</span><img src="{{baseUrl}}MapFindIt/iconesEditar/PontoIcone.png"/></a></li>
					<li onclick="selecionar(1);" id="areaLi"><a href="#" class="escuro" id="selecArea"><span>Área</span><img src="{{baseUrl}}MapFindIt/iconesEditar/AreaIcone.png"/></a></li>
					<li onclick="selecionar(2);" id="rotaLi"><a href="#" class="claro" id="selecRota"><span>Rota</span><img src="{{baseUrl}}MapFindIt/iconesEditar/RotaIcone.png"/></a></li>
					<li>&nbsp;</li>
					<li onclick="modalIcone()"><a data-toggle="modal" class="escuro"><span>Criar Icone</span><i class="fa fa-plus" aria-hidden="true"></i></a></li>
					<li onclick="selIcone({{usuario.idusuario}})"><a href="#" data-toggle="modal" class="claro"><span>Editar Icone</span><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
					<li onclick="selectIcone({{usuario.idusuario}})"><a href="#" data-toggle="modal" class="escuro"><span>Remover Icone</span><i class="fa fa-trash" aria-hidden="true"></i></a></li>
					<li>&nbsp;</li>
					<li onclick="modalMesclar()"><a href="#" data-toggle="modal" class="claro"><span>Mesclar Mapa</span><i class="fa fa-compress" aria-hidden="true"></i></a></li>
				</ul>
			</aside>
			<div id="botoesContainer" style="position: fixed; top: 400px;">

			</div>
        </div>
        <div class="col-md-10">
          <div id="divMapa" class="mapa">

          </div>
				</div>

				<!--Div para modais adicionados pelo js !-->
				<div id="modalDinamico">

				</div>
      </div>

			<!-- Modais de criar, editar e remover icones !-->
			<div class="modal fade" id="modal-criar-icone" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" onclick='$("#modal-criar-icone").modal("hide");' aria-hidden="true">
								×
							</button>
							<h4 class="modal-title">
								Criar Um Novo Icone
							</h4>
						</div>
						<div class="modal-body">
							<form action="javascript:criarIcone()" id="criarIconeForm" name="criarIconeForm">
								<div class="form-group">
									<input required type="text" id="legendaIcone" class="form-control" placeholder="Legenda para o Icone">
								</div>
								<div class="input-group">
	                  <span class="input-group-btn center">
	                      <span class="btn btn-default btn-file">
	                          Escolher Icone... <input accept="image/*" type="file" id="imgInpIcone">
	                      </span>
	                  </span>
	              </div>
	              <br>
	              <img id='novaImgIcone'/>
						  </form>
						<div class="modal-footer">
							<button type="submit" form="criarIconeForm"  class="btn btn-success"> Criar Icone </button>
							<button type="button" data-dismiss="modal" class="btn btn-default"> Cancelar </button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Form para se ter o token !-->
		<form style="display:none">
			{% csrf_token %}
		</form>
		<!-- Fecha o wrapper do menu !-->
		</div>
    	<script>
			var imgUrl='{{baseUrl}}';
      		var idMapa='{{mapa.idmapa}}';
			var idUsuarioLogado='{{usuario.idusuario}}';
		</script>
		<script src="{% static "MapFindIt/js/jquery.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/bootstrap.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/cropper.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/menu.js" %}"></script>
		<script src="{% static "MapFindIt/js/jquery.ui.map.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/editar.js"%}"></script>
		<script src="{% static "MapFindIt/js/mescla.js"%}"></script>
		{% if prim %}
		<script>
			setTimeout(function(){
				inserirPonto({'latLng': new google.maps.LatLng({{mapa.coordyinicial}}, {{mapa.coordxinicial}})});
			}, 1000);
		</script>
		{% endif %}
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0fWO2PpCW6UHi_woXq2Y4zXJpo2Ki_cU&libraries=places&callback=initMap">
		</script>
  </body>