<!DOCTYPE html>
{% load static %}
{% static "" as baseUrl %}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>MapFindIt</title>
		<link href="{% static "MapFindIt/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/cropper.min.css" %}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/menu.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/editar.css"%}" rel="stylesheet">
	</head>
	<body>
		{% include "./menu.html" with user=usuario grupos=grupos amigos=todosAmigos %}
      <div class="row">
        <div class="col-md-2">
          <div class="nav-side-menu">
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li id="selecInserir" data-toggle="collapse" data-target="#products" class="collapsed active">
                          <a href="#"><i class="fa fa-gift fa-lg"></i> &nbsp;&nbsp;Inserir</a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                            <li id="selecPonto" onclick="selecionar(0);"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ponto</a></li>
                            <li id="selecArea" onclick="selecionar(1);"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Área</a></li>
                            <li id="selecRota" onclick="selecionar(2);"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Rota</a></li>
                        </ul>
                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                          <a href="#"><i class="fa fa-globe fa-lg"></i>&nbsp;&nbsp;Icones<span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="service">
                          <li href="#modal-criar-icone" data-toggle="modal"><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Criar Icone</a></li>
                          <li href="#modal-editar-icone" data-toggle="modal"><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Editar Icone</a></li>
                          <li href="#modal-remover-icone" data-toggle="modal"><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remover Icone</a></li>
                        </ul>
                    </ul>
                 </div>
              </div>
        </div>
        <div class="col-md-10">
          <div id="divMapa" class="mapa">

          </div>
        </div>
				<!--Div para modais adicionados pelo js !-->
				<div id="modalDinamico">

				</div>
      </div>

			<!-- Modais de criar, editar e remover icones !-->
			<div class="modal fade" id="modal-criar-icone" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" onclick='$("#modal-criar-icone").modal("hide");' aria-hidden="true">
								×
							</button>
							<h4 class="modal-title">
								Criar Um Novo Icone
							</h4>
						</div>
						<div class="modal-body">
							<form action="javascript:criarIcone()" id="criarIconeForm" name="criarIconeForm">
								<div class="form-group">
									<input required type="text" id="legendaIcone" class="form-control" placeholder="Legenda para o Icone">
								</div>
								<div class="input-group">
	                  <span class="input-group-btn center">
	                      <span class="btn btn-default btn-file">
	                          Escolher Icone... <input accept="image/*" type="file" id="imgInpIcone">
	                      </span>
	                  </span>
	              </div>
	              <br>
	              <img id='novaImgIcone'/>
						  </form>
						<div class="modal-footer">
							<button type="submit" form="criarIconeForm" class="btn btn-success"> Criar Icone </button>
							<button type="button" data-dismiss="modal" class="btn btn-default"> Cancelar </button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" style="top:-5%;" id="modal-editar-icone" aria-hidden="true">
				<div class="modal-dialog" style="width: 80vw;">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" onclick='$("#modal-icone").modal("hide");' aria-hidden="true">
								×
							</button>
							<h4 class="modal-title">
								Escolher icone para o ponto
							</h4>
						</div>
						<div class="modal-body" style="overflow: scroll; overflow-x: hidden; height: 80vh;">
							<div class="centerDiv">
								 <input id="filtrarIcones" type="text" placeholder="Filtrar icones" style="width:96%; height:90%;">
								 <br>
								 <br>
								 <b
							</div>
							<div id="container-icones" style="display: flex; flex-direction: row; flex-wrap: wrap;">

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" onclick="if(iconeEscolhido){salvarIcone(${id});}" class="btn btn-success"> Escolher Icone </button>
							<button type="button" data-dismiss="modal" class="btn btn-default"> Cancelar </button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" style="top:-5%;" id="modal-remover-icone" aria-hidden="true">
				<div class="modal-dialog" style="width: 80vw;">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" onclick='$("#modal-icone").modal("hide");' aria-hidden="true">
								×
							</button>
							<h4 class="modal-title">
								Escolher icone para o ponto
							</h4>
						</div>
						<div class="modal-body" style="overflow: scroll; overflow-x: hidden; height: 80vh;">
							<div class="centerDiv">
								 <input id="filtrarIcones" type="text" placeholder="Filtrar icones" style="width:96%; height:90%;">
								 <br>
								 <br>
								 <b
							</div>
							<div id="container-icones" style="display: flex; flex-direction: row; flex-wrap: wrap;">

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" onclick="if(iconeEscolhido){salvarIcone(${id});}" class="btn btn-success"> Escolher Icone </button>
							<button type="button" data-dismiss="modal" class="btn btn-default"> Cancelar </button>
						</div>
					</div>
				</div>
			</div>
			<!-- Form para se ter o token !-->
			<form style="display:none">
				{% csrf_token %}
			</form>
    <!-- Fecha o wrapper do menu !-->
    </div>
    <script>
			var imgUrl='{{baseUrl}}';
      var idMapa='{{mapa.idmapa}}';
			var idUsuarioLogado='{{usuario.idusuario}}';
		</script>
		<script src="{% static "MapFindIt/js/jquery.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/bootstrap.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/cropper.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/menu.js" %}"></script>
		<script src="{% static "MapFindIt/js/jquery.ui.map.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/editar.js"%}"></script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0fWO2PpCW6UHi_woXq2Y4zXJpo2Ki_cU&callback=initMap">
		</script>
  </body>
