<!DOCTYPE html>
{% load static %}
{% static "" as baseUrl %}
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>MapFindIt</title>
		<link href="{% static "MapFindIt/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/postagem.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/menu.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/geral.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/feed.css"%}" rel="stylesheet">
	</head>

	<body>
		{% include "./menu.html" with user=usuario grupos=grupos amigos=todosAmigos %}
		<div class="container-fluid">	
			<div class="row">
				<div class="col-md-12">
					<br>
					<div id="divMapas"></div>
					<div class="col-md-offset-10 col-md-2">
						<!--Box Flutuante-->
						<div id="box"><p></p>&nbsp&nbsp+&nbsp&nbsp<p></p></div>				
					</div>
				</div>
			</div>
		</div>

	
		<script>
			var imgUrl='{{baseUrl}}';
			var idUsuarioLogado='{{usuario.idusuario}}';
			var idUsuarioPagina = '{{idPag.idusuario}}'
		</script>
		<script src="{% static "MapFindIt/js/jquery.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/bootstrap.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/jquery.mask.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/menu.js" %}"></script>
		<script src="{% static "MapFindIt/js/jquery.ui.map.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/carregarPostagem.js"%}"></script>
		<script src="{% static "MapFindIt/js/home.js"%}"></script>
		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0fWO2PpCW6UHi_woXq2Y4zXJpo2Ki_cU&callback=initMap">
		</script>
	</body>
</html>
