 <!DOCTYPE html>
{% load static %}
{% static "" as baseUrl %}

<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>MapFindIt</title>
		<link href="{% static "MapFindIt/css/bootstrap.min.css" %}" rel="stylesheet">
		<link  href="{% static "MapFindIt/css/cropper.min.css" %}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/postagem.css"%}" rel="stylesheet">
    <link href="{% static "MapFindIt/css/font-awesome.min.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/typography.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/menu.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/geral.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/button.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/floating-action-button.css"%}" rel="stylesheet">
		<link href="{% static "MapFindIt/css/typography.css"%}" rel="stylesheet">

	</head>
	<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span id="menu-icon" class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
       </button>
      <div style="display: flex; justify-content: space-between;">
          <div class="navbar-header">
             <div style="order:1;">
               <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span id="menu-icon" class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
               <a href="/" style="display:inline-block; margin-left: 30px; z-index:20; height:50px; width:100px;"><img border="0" src="{% static "MapFindIt/img/Logo.jpg" %}" style="width:100px; height:50px"></a>
             </div>
           </div>
           <div id="navbar" class="collapse navbar-collapse">
                <form class=" navbar-form navbar-center" id="navBarSearchForm"  method="GET" action="/filtro/" style="order:2;">
                  <div class="input-group white" id="inputGrup" >
                    <input type="text" class="form-control" placeholder="Digite o que será pesquisado" id="pesquisa" name="pesquisa" value="" style="background: white; color: black; font-weight: bold;border:none;">
                    <div class="input-group-btn">
                       <button type="submit" class="btn button-default btn-sm" style="background: white; color: black; font-weight: bold;border:none;"><span class="glyphicon glyphicon-search" style="color: black; font-size:1.0em;"></span></button>
                     </div>
                   </div>
                 </form>

           </div>
       </div>
     </nav>
      <div id="wrapper" class="toggled">
        <div class="container-fluid">
          <div id="sidebar-wrapper" style="overflow: hidden;">
            <ul class="sidebar-nav">
               <li class="sidebar-brand">
                 <br>
               </li>
               <li class="sidebar-brand">
                 <div class="row">
                   <div class="col-md-9 col-md-offset-3">
                     <a href="/perfil/{{usuario.idusuario}}" class="navbar-brand">
                       {% if usuario.foto %}
                          <img id="img" class="img-circle img-responsive" style="width:150px; height:150px" src="{{baseUrl}}MapFindIt/ImagemUsers/{{user.idusuario}}.png"></img>
                       {% else %}
                          <img id="img" class="img-circle img-responsive" style="width:150px; height:150px" src="{% static "MapFindIt/img/default_user.png" %}"></img>
                       {% endif %}
                       <br>
                       <label for="img">{{usuario.primnomeusuario}} {{usuario.ultnomeusuario}}</label>
                     </a>
                   </div>
                 </div>
               </li>
               <li>
                 <br><br><br><br>
                 <div class="row">
                   <div class="col-md-11 col-md-offset-1">
                     <div class="panel panel-primary">
                       <div class="panel-heading" style="padding:0px">
                         <b>Meus Grupos</b>
                       </div>
                       <div class="panel-body" style="padding:2px 0px 0px 0px; padding-bottom:10px">
                         {% for grupo in grupos %}
                           <div style="height:5vh;">
                             <a href="/grupo/{{grupo.idgrupo}}" title="{{grupo.nomegrupo}}">
                               <span style="">{{grupo.nomegrupo}}</span>
                               <span style="float:right; height:3vh; padding:0px;"><span style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">
                                 &nbsp;&nbsp;&nbsp;
                               </span>&nbsp;&nbsp;</span>
                             </a>
                           </div>
                         {% endfor %}
                       </div>
                     </div>
                    </div>
                  </div>
               </li>
               <li>
                 <div class="row">
                   <div class="col-md-11 col-md-offset-1">
                     <div class="panel panel-primary">
                       <div class="panel-heading" style="padding:0px">
                         <b>Meus Amigos</b>
                       </div>
                       <div class="panel-body" style="padding:2px 0px 0px 0px">
                         <div class="centerDiv">
                            <input id="filtrarAmigos" type="text" placeholder="Filtrar amigos" style="width:96%; height:90%;">
                         </div>
                         <div style="display:flex;flex-direction: row;flex-wrap: wrap; padding:2px 0px 0px 0px">
                          {% for amizade in amigos %}
                            {% if not amizade.aceita %}
                              {% ifequal amizade.idusuario1 usuario %}
                                 {% with amigo=amizade.idusuario2 %}
                                    <div class="amigo" id="amigo{{amigo.idusuario}}">
                                      {% if amigo.foto %}
                                         <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" style="width:50px; height:50px" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" src="{{baseUrl}}MapFindIt/ImagemUsers/{{amigo.idusuario}}.png"></img></a>
                                      {% else %}
                                         <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" style="width:50px; height:50px" src="{% static "MapFindIt/img/default_user.png" %}"></img></a>
                                      {% endif %}
                                    </div>
                                  {% endwith %}
                              {% else %}
                                 {% with amigo=amizade.idusuario1 %}
                                    <div class="amigo" id="amigo{{amigo.idusuario}}">
                                      {% if amigo.foto %}
                                         <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" style="width:50px; height:50px" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" src="{{baseUrl}}MapFindIt/ImagemUsers/{{amigo.idusuario}}.png"></img></a>
                                      {% else %}
                                         <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" style="width:50px; height:50px" src="{% static "MapFindIt/img/default_user.png" %}"></img></a>
                                      {% endif %}
                                    </div>
                                 {% endwith %}
                              {% endifequal %}
                            {% endif %}
                          {% endfor %}
                         </div>
                     </div>
                    </div>
                  </div>
               </li>
               <li>
                 <div class="row">
                   <div class="col-md-11 col-md-offset-1">
                      <a class="btn btn-primary btn-lg" href="/meusMapas" style=" box-shadow: 2px 2px 2px black;align-text:center; color:white;"><b>Meus Mapas</b></a>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-11 col-md-offset-1" >
                        <a href="/deslogar/" class="btn btn-danger btn-lg" style="background:#f70e0e; align-text:center; color:white; box-shadow: 2px 2px 2px black;"><b>Sair</b></a>
                    </div>
                  </div>
               </li>
            </ul>
          </div>
        </div>
      <br><br><br><br>

				{% if ban %}
					<div class="row">
          	<div class="col-md-8 col-md-offset-2 white" >
            	<br>
            	<div class="center">
              	<b><h1 style="color: red">ACESSO NEGADO</h1></br>
								<h2>Peça permição para um admistrador do grupo<h2>
            	</div>
          	</div>
        	</div>
				{% else %}
					<div class="row">
          	<div class="col-md-8 col-md-offset-2 white" style="background-color:rgb({{r}},{{g}},{{b}})" >
            	<br>
            	<div class="center">
              	<h1>{{grupo.nomegrupo}}</h1>
                <br>
                <h4>{{grupo.descgrupo}}</h1>
            	</div>
          	</div>
        	</div>
        	<br>
          <div class="row">
					 <div class="col-md-8 col-md-offset-2" >
						<div class="btn-group btn-group-justified" >
							<a role="button" class="btn pmd-ripple-effect btn-primary" onclick="pesquisarBar()" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">Pesquisar</a>
							<a role="button" class="btn pmd-ripple-effect btn-primary" onclick="getMembro({{grupo.idgrupo}})" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">Membros</a>
							{% if member %}
								<a role="button" onclick="modalPublicar({{grupo.idgrupo}})" class="btn pmd-ripple-effect btn-primary" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">postar</a>
								<a role="button" data-toggle="modal" dara-target="#modal-convidar" class="btn pmd-ripple-effect btn-primary" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">convidar</a>
								{% if admim %}
									{% if grupo.privado %}
										<a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="modal" dara-target="#modal-convidar"style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">convidar</a>
										{% endif %}
										<a role="button" class="btn pmd-ripple-effect btn-primary" data-toggle="modal" data-target="#modal-container-admim" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); "><span class="glyphicon glyphicon-cog" style="color: white"></span></a>
										{% endif %}
										{% else %}
										<a role="button" class="btn pmd-ripple-effect btn-primary" onclick="entrar({{usuario.idusuario}})" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">Entar</a>
										{% endif %}
									</div>
								</div>
              </div>
              <div id="opcMenu"></div>
              <div id="modalDinamico"></div>
              <br>
              <div class="row">
                <div class="col-md-12 " >
                  <div id="divMapas"></div>
                  <div style="text-align:center;">
          					<button class="btn button" id="back"><-</button>
          					<button class="btn button" id="next">-></button>
          				</div>
                </div>
              </div>
								<div class="menu pmd-floating-action"  role="navigation">
									<a onclick="modalGrupos()" class="pmd-floating-action-btn btn btn-lg pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-info" data-title="Novo Grupo" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">
										<span class="pmd-floating-hidden">Primary</span>
										<i><span class="glyphicon glyphicon-user" style="font-size:1.5em; color:white" aria-hidden="true"></span></i>
									</a>
									<a href="/novoMapa/" class="pmd-floating-action-btn btn btn-lg pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-info" data-title="Novo Mapa" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">
										<span class="pmd-floating-hidden">Primary</span>
										<i><span class="glyphicon glyphicon-map-marker" style="font-size:1.5em; color:white" aria-hidden="true"></span></i>
									</a>
									<a class="pmd-floating-action-btn btn btn-lg pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Novo" href="#" style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">
										<span class="pmd-floating-hidden">Primary</span>
										<i> <span class="fa fa-users" style="font-size:1.5em; color:white; align:center;" aria-hidden="true"></span></i>
									</a>
								</div>

              {% endif %}
							<div class="modal fade" id="modal-container-admim" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  		<div class="modal-dialog">
					    		<div class="modal-content">
					     			<div class="modal-header">
					       			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					       			<h2 class="modal-title" id="myModalLabel" style="text-align: center;">Configurar Grupo</h2>
					     			</div>
					     			<div class="modal-body">
					      			<form id="formAtualizar" method="GET">
					         			{% csrf_token %}
					         			<div class="row">
					           			<div class="col-md-12">
					             			<div class="form-group">
					               			Nome do Grupo: <input type="text" name="nmdGrupo" id="nomeGrupo" class="form-control input-lg" value="{{grupo.nomegrupo}}" tabindex="1">
					             			</div>
					           			</div>
					         			</div>
					           	<div class="row">
					             	<div class="col-md-12">
					               	<div class="form-group">
					                 	Descrição Grupo: <input type="text" name="descGrupo" id="desc" class="form-control input-lg" value="{{grupo.descgrupo}}" tabindex="2">
					               	</div>
					             	</div>
					           	</div>
					           	<div class="row">
												<div class="col-xs-4 col-sm-4 col-md-4" align="center">
					               	<div class="form-group">
														<div class="form-item"><label for="color">Cor:</label><input type="color" id="corGrupo" class="form-control" style="background-color:rgb({{r}},{{g}},{{b}})" required></div>
					               	</div>
					             	</div>
												<div class="col-xs-4 col-sm-4 col-md-4" align="center">
					               	<div class="form-group">
					                 	<div class="radio">
					                   	<label><input type="radio" name="Privacidade" id="public" value="0" checked>Publico</label>
					                 	</div>
					               	</div>
					             	</div>
					             	<div class="col-xs-4 col-sm-4 col-md-4" align="center">
					               	<div class="form-group">
					                 	<div class="radio">
					                   	<label><input type="radio" id="private" name="Privacidade" value="1">Privado</label>
					                 	</div>
					               	</div>
					             	</div>
											</div>
											<div id="conteudoDinamico"></div>
					         	</form>
					       		<div class="btn-group btn-group-justified">
									 		<a role="button" class="btn pmd-ripple-effect btn-primary">adimistrador</a>
									 		<a role="button" class="btn pmd-ripple-effect btn-primary" onclick="modalRemoverMapa({{grupo.idgrupo}})">Remover Mapa</a>
											<a role="button" class="btn pmd-ripple-effect btn-primary">Banidos</a>
					         	</div>
					       	</div>
					     		<div class="modal-footer" >
					       		<div align="center">
					         		<button type="button" onclick="editarGrupo({{grupo.idgrupo}});" class="btn button"data-dismiss="modal"> Confirmar </button>
					         		<button type="button" data-dismiss="modal" class="btn button"> Cancelar </button>
					       	</div>
					     	</div>
					    </div>
					  </div>
					</div>

		<script>
			var imgUrl='{{baseUrl}}';
			var idUsuarioLogado='{{usuario.idusuario}}';
			var idUsuarioPagina = '{{idPag.idusuario}}';
      var idGrupo = Number('{{grupo.idgrupo}}');
		</script>

		<script src="{% static "MapFindIt/js/jquery.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/bootstrap.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/jquery.mask.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/cropper.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/menu.js" %}"></script>
		<script src="{% static "MapFindIt/js/jquery.ui.map.min.js"%}"></script>
		<script src="{% static "MapFindIt/js/carregarPostagem.js"%}"></script>
		<script src="{% static "MapFindIt/js/grupo.js"%}"></script>

		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0fWO2PpCW6UHi_woXq2Y4zXJpo2Ki_cU&callback=initMap">
		</script>

	</body>
</html>
