{% load static %}
{% static "" as baseUrl %}
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:skyblue;">
      <div class="container-fluid">
      <div class="navbar-left">
          <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><span id="menu-icon" class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></a>
        </div>
        <div id="navbar" class="nav">
          <form class="navbar-form navbar-right" id="navBarSair">
            <div class="input-group">
              <div class="input-group-btn">
                 <a href="/deslogar/" class="btn button">Sair</a>
              </div>
            </div>
          </form>
          <form class="navbar-form navbar-center" id="navBarSearchForm"  method="GET">
            <div class="input-group">
    					<input type="text" class="form-control bpesquisa" placeholder="Digite o que será pesquisado" id="pesquisa" name="pesquisa" value="">
              <div class="input-group-btn">
            	   <button type="submit" class="btn button" style="height: 4vh; background-color: red">Pesquisar</button>
              </div>
  				  </div>
          </form>
        </div>
      </div>
  </nav>
    <div id="wrapper" class="toggled">
      <div class="container-fluid">
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
        	   <li class="sidebar-brand">
               <br>
             </li>
             <li class="sidebar-brand">
               <div class="row">
                 <div class="col-md-9 col-md-offset-3">
                   <a href="/perfil/{{user.idusuario}}" class="navbar-brand">
                     {% if usuario.foto %}
                        <img id="img" class="img-circle img-responsive" style="width:150px; height:150px" src="{{baseUrl}}MapFindIt/ImagemUsers/{{user.idusuario}}.png"></img>
                     {% else %}
                        <img id="img" class="img-circle img-responsive" style="width:150px; height:150px" src="{% static "MapFindIt/img/default_user.png" %}"></img>
                     {% endif %}
                     <br>
                     <label for="img">{{usuario.primnomeusuario}} {{usuario.ultnomeusuario}}</label>
                   </a>
                 </div>
               </div>
             </li>
             <li>
               <br><br><br><br>
               <div class="row">
                 <div class="col-md-11 col-md-offset-1">
                   <div class="panel panel-primary">
                     <div class="panel-heading" style="padding:0px">
                       <b>Meus Grupos</b>
                     </div>
          			     <div class="panel-body" style="padding:2px 0px 0px 0px; padding-bottom:10px">
                       {% for grupo in grupos %}
                         <div style="height:5vh;">
                           <a href="/grupo/{{grupo.idgrupo}}" title="{{grupo.nomegrupo}}">
                             <span style="">{{grupo.nomegrupo}}</span>
                             <span style="float:right; height:3vh; padding:0px;"><span style="background: rgb({{grupo.codcor.r}}, {{grupo.codcor.g}}, {{grupo.codcor.b}}); ">
                               &nbsp;&nbsp;&nbsp;
                             </span>&nbsp;&nbsp;</span>
                           </a>
                         </div>
                       {% endfor %}
          				   </div>
                   </div>
                  </div>
                </div>
             </li>
             <li>
               <div class="row">
                 <div class="col-md-11 col-md-offset-1">
                   <div class="panel panel-primary">
                     <div class="panel-heading" style="padding:0px">
                       <b>Meus Amigos</b>
                     </div>
                     <div class="panel-body" style="padding:2px 0px 0px 0px">
                       <div class="centerDiv">
                          <input id="filtrarAmigos" type="text" placeholder="Filtrar amigos" style="width:96%; height:90%;">
                       </div>
          			       <div style="display:flex;flex-direction: row;flex-wrap: wrap; padding:2px 0px 0px 0px">
          				      {% for amizade in amigos %}
                          {% if not amizade.aceita %}
                            {% ifequal amizade.idusuario1 usuario %}
                               {% with amigo=amizade.idusuario2 %}
                                  <div class="amigo" id="amigo{{amigo.idusuario}}">
                                    {% if amigo.foto %}
                                       <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" style="width:50px; height:50px" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" src="{{baseUrl}}MapFindIt/ImagemUsers/{{amigo.idusuario}}.png"></img></a>
                                    {% else %}
                                       <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" style="width:50px; height:50px" src="{% static "MapFindIt/img/default_user.png" %}"></img></a>
                                    {% endif %}
                                  </div>
                                {% endwith %}
                            {% else %}
                               {% with amigo=amizade.idusuario1 %}
                                  <div class="amigo" id="amigo{{amigo.idusuario}}">
                                    {% if amigo.foto %}
                                       <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" style="width:50px; height:50px" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" src="{{baseUrl}}MapFindIt/ImagemUsers/{{amigo.idusuario}}.png"></img></a>
                                    {% else %}
                                       <a href="/perfil/{{amigo.idusuario}}" style="padding-left:4px; padding-bottom: 4px;"><img id="img" class="img-circle img-responsive" title="{{amigo.primnomeusuario}} {{amigo.ultnomeusuario}}" style="width:50px; height:50px" src="{% static "MapFindIt/img/default_user.png" %}"></img></a>
                                    {% endif %}
                                  </div>
                               {% endwith %}
                            {% endifequal %}
                          {% endif %}
                        {% endfor %}
          				     </div>
                   </div>
                  </div>
                </div>
             </li>
          </ul>
        </div>
      </div>
    <br><br><br><br>
