#logo{
  width: 100%;
  height: 100%;
}
#form1 {
  margin-top: 5%;
}
#feed {
}
#menu_pesquisa{
  margin-top: 5%;
}

#exemplo_mapa{
  width: 100%;
  height: 110%;
}
#exemploicon{
  width: 90%;
  height: 80%;
}
#campo{
  width: 500px;

}
