<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MapFindIt</title>

    <link href="{% static "MapFindIt/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href={% static "MapFindIt/css/style.css" %} rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
			<div class="col-md-4">
				<div class="container-fluid">
					<div class="row">
						<img alt="Logo" src="{% static "MapFindIt/img/LogoBackGreen.jpg" %}" id="logo">
					</div>
					<br>
					<div class="row">
						<form role="form">
							<div class="form-group">
								<input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail" >
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
							</div>
							<div class="form-group">
								<div class="checkbox">
									&nbsp<label><input type="checkbox">Permanecer logado</label>
								</div>
							</div>
							<button type="submit" class="btn btn-default" id="Logar">
								Logar
							</button>
			       			<button type="button" href="#modal-container-cadastro" data-toggle="modal" class="btn btn-default" id="Cadastrar">
								Cadastrar
							</button>
						</form>

						<div class="modal fade" id="modal-container-cadastro" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											×
										</button>
										<h4 class="modal-title" id="myModalLabel">
											Cadastrar nova conta
										</h4>
									</div>
									<div class="modal-body">
										<form id="formCadastro">
											<div class="row">
										    	<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
						                        		<input type="text" name="primNome" id="primNome" class="form-control input-lg" placeholder="Primeiro nome" tabindex="1">
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
														<input type="text" name="ultimoNome" id="ultimoNome" class="form-control input-lg" placeholder="Ultimo nome" tabindex="2">
													</div>
												</div>
											</div>
											<div class="form-group">
												<input type="text" name="email" id="email" class="form-control input-lg" placeholder="E-mail" tabindex="3">
											</div>
											<div class="form-group">
												<input type="email" name="emailConf" id="emailConf" class="form-control input-lg" placeholder="Confirmar E-mail" tabindex="4">
											</div>
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
														<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Senha" tabindex="5">
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
														<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="	Confirmar Senha" tabindex="6">
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="datetimepicker1">Data de Nascimento</label>
												<div class='input-group date' id='datetimepicker1'>
									                <input type='date' class="form-control" />
									            </div>
											</div>
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
														<div class="radio">
			  												<label><input type="radio" name="gender" value="masculino">Masculino</label>
														</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6">
													<div class="form-group">
														<div class="radio">
			  												<label><input type="radio" name="gender" value="feminino">Feminino</label>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-8 col-sm-9 col-md-9">
													<div class="checkbox">
			  											<label><input type="checkbox" name="aceito" id="aceito" value="">Eu aceito os <a href="#" data-toggle="modal" data-target="#termosCondicoes">Termos e Condições</a></label>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="submit" form="formCadastro" class="btn btn-success"> Confirmar </button>
										<button type="button" data-dismiss="modal" class="btn btn-default"> Cancelar </button>
									</div>
								</div>

							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="col-md-8 conteudo">
				<div class="container-fluid">
					<div class="row">
						<br>
						<div class="pesquisa">
							<form class="form-inline" id="formPesquisa">
									<div class="form-group">
										<input type="text" class="form-control" id="campo" placeholder="Digite aqui o que será pesquisado">
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-default">
											Pesquisar
										</button>
									</div>
							</form>
						</div>
					</div>
					<div id="Mapas">
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="row">
							 <a id="modal-925678" href="#modal-container-mapa" role="button" class="btn" data-toggle="modal" id="modal_mapa" style="background-image:url("{% static "MapFindIt/img/google-maps-rotas.jpg" %}")">Exemplo</a>
				      		 <br>
				       		<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemploicon">
							<div class="modal fade" id="modal-container-mapa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">

											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
												×
											</button>
											<h4 class="modal-title" id="myModalLabel">
												exemplo mapa
											</h4>
										</div>
										<div class="modal-body">
											<img alt="Mapa de exemplo" src="{% static "MapFindIt/img/google-maps-rotas.jpg" %}" id="exemplo_mapa">
										</div>
										<div class="modal-footer">
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
    <script src="{% static "MapFindIt/js/jquery.min.js" %}"></script>
    <script src="{% static "MapFindIt/js/bootstrap.min.js" %}"></script>
    <script src="{% static "MapFindIt/js/scripts.js" %}"></script>
  </body>
</html>
